<%- include("partials/header"); -%>

<%  posts.forEach(function(post){ %>
    <div class="published">
        <h2><%=post.title%></h2>
        <p> <%=post.content%></p>
    <div class="buttons">
        <button class="delete">Delete</button>
        <button class="edit">Edit</button>
    
    </div>  
    </div>
    <% }); %>

<%- include("partials/main"); -%>
<%- include("partials/footer"); -%>
